.dialogs {
    display: grid;

    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems .active {
    color: gold;
}

.dialog {
    color: saddlebrown;
}

.dialog img {
    width: 50px;
    height: 36.125px;
    border-radius: 50%;
}
.dialog:hover {
    color: blue;
}

.messages {
    background-color: antiquewhite;
    margin: 5px;
    padding: 10px;
    border: 1px solid darkgrey;
    border-radius: 10px;
}

.right {
    text-align: right;
}

.newMessage {
    margin: 5px;
    padding: 10px;

    display: flex;
    gap: 10px;
    justify-content: right;
    text-align: right;
}

.newMessage textarea {
    width: 50%;
    border-radius: 10px;
}

.newMessage button {
    border-radius: 10px;
}

